@font-face {
  font-family: 'museomoderno';
  src: url('tipografia/MuseoModerno/MuseoModerno-Medium.woff2') format('woff'),
       url('tipografia/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'museomodernoregular';
  src: url('tipografia/MuseoModerno/MuseoModerno-Regular.woff2') format('woff');
}

body {
  background-color: #231726;
  margin: 0;
  padding: 0;
  font-family: 'museomoderno';
  font: 'museomoderno';
}

body.mi-clase {
  background-color: #231726; /* Cambia este valor al color de fondo que desees */
  font-size: 14px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 100vw;
  position: relative;
  font-family: 'museomoderno';
  font: 'museomoderno';
  background-color: #592f3f;
  color: #fff;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 20px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.logo h1 {
  margin: 0;
  line-height: 1;
  color: #93a8ac;
}


.logo img {
  width: 60px;
  height: auto;
}

nav {
  display: flex;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: right;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  border-radius: 10px;
  border-color: #fff;
  justify-content: center;
  position: relative;
}

nav ul li a.cotizar-button {
  background: linear-gradient(to bottom, #f78c6c, #ff5555); /* Your custom gradient background */
  color: #fff;
}

nav ul li a.cotizar-button:hover {
  background: linear-gradient(to bottom, #ff5555, #f78c6c); /* Custom gradient on hover */
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
}

nav ul li a:hover {
  background: linear-gradient(to bottom, #4EA69D, #63F2D8);
}

.logo, nav {
  flex: 1;
}

.logo {
  justify-content: flex-start;
}

nav {
  justify-content: flex-end;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: none;
  }

  nav {
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 5px 0;
  }

}

/* Video background*/
#home {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #592f3f;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* Soluciones Carrusel */

/* Estilos para las tarjetas del carrusel */
.carousel-box {
  background-color: #bf5370;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  width: 30%:
}

/* Estilos para el carrusel */
#soluciones-carrusel {
  background-color: #231726;
  padding: 40px 0;
  text-align: center;
  max-width: 25%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  position: relative;
  color: #fff;
}

#soluciones-carrusel h2 {
  margin-bottom: 20px;
}

.carousel-box a, h3 {
  text-decoration: none;
  color: #fff;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


/* Estilos para los botones de navegación */
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 24px;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

/* Estilos para la sección de contacto */
#contacto {
  padding: 80px 0;
  background-color: #231726;
  color: #fff;
}

.contacto-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para el formulario */
.formulario {
  flex: 1;
  background-color: #bf5e70;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

#contact-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #231726;
}

button[type="submit"] {
  background: linear-gradient(to bottom, #4ea69d, #231726);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto; /* Centrar el botón */
  font-family: 'museomoderno';
  font: 'museomoderno';
}

button[type="submit"]:hover {
  background: linear-gradient(to bottom, #63f2d8, #4ea69d);
}

/* Estilos para la información de contacto */
.informacion-contacto {
  flex: 1;
  background-color: #bf5e70;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.informacion-contacto h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.informacion-contacto p {
  margin-bottom: 10px;
}


.email {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.email img {
  width: 45px; /* Ajusta el tamaño del icono según tus necesidades */
  height: 45px;
  margin-right: 10px; /* Añade un pequeño espacio entre el icono y el texto */
}

.email h4 {
  margin: 0;
}

.direccion {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.direccion img {
  width: 45px; /* Ajusta el tamaño del icono según tus necesidades */
  height: 45px;
  margin-right: 10px; /* Añade un pequeño espacio entre el icono y el texto */
}

.direccion h4 {
  margin: 0;
}

.telefono {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.telefono img {
  width: 45px; /* Ajusta el tamaño del icono según tus necesidades */
  height: 45px;
  margin-right: 10px; /* Añade un pequeño espacio entre el icono y el texto */
}

.telefono h4 {
  margin: 0;
}



/* Pagina de soluciones */

#descripcion_servicio {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alineación superior para los elementos */
  padding: 50px;
  background: linear-gradient(180deg, #592F3F, #BF5E70);
  color: #fff;
  font-family: "museomoderno";
  font: "museomoderno";
}

.description-left {
  flex-basis: 40%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(15%);
  text-align: justify;
}

.centered-image {
    max-width: 800px;
    height: auto;
    margin-bottom: 10px;
}

.description-right {
  flex-basis: 35%;
  text-align: right;
  list-style: none;
  padding: 0;
}

.description-right li {
  background-color: none;
  padding: 10px;
  margin-bottom: 10px;
}

.info-box {
  border: none;
  background: linear-gradient(-45deg, #592f3f, #231726, #4ea69d);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  text-align: justify;
}

.info-box:first-child {
  transform: translateX(-15%);
}

.info-box h3 {
  margin: 0;
  margin-bottom: 15px;
}

.info-box p {
  margin: 0;
  font-family: 'museomodernoregular';
  font: 'museomodernoregular'
}

/* Pie de página*/
footer {
  background-color: #231726;
  padding: 20px 0;
  color: #fff;
  font-family: 'museomoderno';
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#servicio {
  color: #4c5760;
}

.column-left ul,
.column-right ul,
.column-center ul,
.column-center2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-left ul li,
.column-right ul li,
.column-center ul li,
.column-center2 ul li {
  margin-bottom: 10px;
}

.column-left ul li a,
.column-right ul li a,
.column-center ul li a,
.column-center2 ul li a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.column-left ul li a:hover,
.column-right ul li a:hover,
.column-center ul li a:hover,
.column-center2 ul li a:hover {
  background-color: transparent;
}

.social-links {
  display: flex;
  justify-content: flex-end; /* Justify the social links to the right */
}

.social-links li {
  margin-right: 10px;
}

/* Add styles for social media icons if needed */
.social-links a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

/* empresa style */

#empresa {
  display: flex;
  color: #fff;
  justify-content: center;
  font-family: 'museomodernoregular';
  font: 'museomodernoregular'
}

.intro {
  display: flex;
  width: 100%;
}

.description-left {
  text-align: justify;
  align-self: center;
  padding-right: 60px;
}

.imagen-desc {
  flex: 1;
  text-align: center;
}

.imagen-desc img {
  width: 600px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
    font-size: 35px;
}


/* expertos style */

#expertos {
  display: flex;
  color: #fff;
  justify-content: center;
  font-family: 'museomodernoregular';
  font: 'museomodernoregular'
}

.intro-experts {
  display: flex;
  width: 100%;
}

.description-right {
  text-align: justify;
  align-self: center;
}

.imagen-izg {
  flex: 1;
  text-align: center;
}

.imagen-izq img {
  width: 630px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 90px;
}

.title {
    font-size: 35px;
}
